name: release

on:
  release:
    types: [published]

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Publish to Zed extensions repo
        uses: huacnlee/zed-extension-action@8cd592a0d24e1e41157740f1a529aeabddc88a1b
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
        with:
          extension-name: django
          push-to: joshuadavidthomas/extensions
